@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Josefin";
    src: url("/fonts/heading-font.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoSlab";
    src: url("/fonts/RobotoSlabRegular.ttf") format("truetype");
}
@font-face {
    font-family: "Oregon";
    src: url("/fonts/Oregon.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoSlab-XB";
    src: url("/fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoSlab-XL";
    src: url("/fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoSlab-Thin";
    src: url("/fonts/RobotoSlab-Thin.ttf") format("truetype");
}

body,
html {
    background-color: white;
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #ffc017;
    padding: 0rem 2rem;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    transition: all 250ms ease-in-out;
    z-index: 10;
}
nav[whiteBackground="true"] {
    background-color: white;
}
nav .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.logo-container > img {
    height: 34px;
    width: 34px;
    vertical-align: middle;
}
.logo-container > p {
    font-family: "RobotoSlab";
    font-size: 2rem;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
nav > .side-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}
.side-links > a {
    text-decoration: none;
    color: black;
    font-family: "RobotoSlab";
    font-weight: bolder;
    text-transform: uppercase;
}
nav[whiteBackground="true"] .side-links > a:last-of-type {
    background-color: rgb(26, 137, 23);
}
.side-links > a:last-of-type {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    letter-spacing: 1px;
    transition: all 250ms ease-in-out;
}
.side-links > a:last-of-type:visited {
    color: white;
}
.side-links > a:visited {
    color: black;
}
div.nav-space#navSpace {
    height: 108px;
}
.app {
    display: flex;
    flex-direction: column;
}
.app > div.banner {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    background-color: #ffc017;
    align-items: center;
}
.app > div.banner > .left {
    width: 50%;
    font-family: "RobotoSlab";
}
.app > .banner > .left > h1 {
    font-size: 3rem;
}
.app > .banner > .left > a {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 0.7rem 2rem;
    text-decoration: none;
}
.app > div.banner > .right {
    flex-grow: 1;
}
.app > .featured-header {
    font-family: "Roboto";
}
.featured-container {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}
.section-container {
    padding: 2rem;
}
.section-container > h1 {
    font-family: "RobotoSlab";
    background-color: black;
    color: #ffc017;
    width: max-content;
    padding: 0 1rem;
    border-radius: 7px;
    margin: 0;
}
.featured-container > .article-container > a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.featured-container > .article-container > a > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.featured-container  .info-container > p.author {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.7);
}
.featured-container .info-container {
    display: flex;
    flex-direction: column;
}
.featured-container .info-container > h1 {
    margin-bottom: 0;
}
.featured-container .info-container p {
    width: 70%;
}
.categories-container > .all-categories-link {
    border-bottom: 1px solid #ffc017;
    max-width: max-content;
}
.categories-container > .all-categories-link > a {
    font-weight: bold;
    max-width: max-content;
}
.categories-container > .all-categories-link > a > i {
    vertical-align: middle;
}
.categories-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}
.categories-container > .categories {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    row-gap: 1rem;
}
.categories-container > .categories > a {
    position: relative;
    width: max-content;
    overflow: hidden;
    border-radius: 5px;
    height: 11rem;
    width: 18rem;
}
.categories-container a:hover > img {
    transform: scale(1.1);
    /* transition: all 250ms ease; */
}
.categories-container a > img {
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    transition: all 250ms ease-in-out;
    object-fit: cover;
}
.categories-container a > p {
    font-weight: bolder;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffc017;
    padding: 10px;
    font-family: "RobotoSlab";
    text-transform: uppercase;
}
