body,
html {
    margin: 0;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: "RobotoSlab";
    src: url("/fonts/RobotoSlabRegular.ttf") format("truetype");
}
nav {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2rem;
    justify-content: space-between;
}
nav > .logo-container {
    display: flex;
    flex-direction: row;
    font-family: "RobotoSlab";
    font-weight: bolder;
    font-size: 1.5rem;
    gap: 0.5rem;
}
nav > .logo-container > p {
    margin: 0;
}
nav > .logo-container > img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
nav > .misc-container {
    display: flex;
    flex-direction: row;
}
nav > .misc-container > button {
    color: black;
    background-color: #ffc017;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 7px;
    font-family: "RobotoSlab";
    font-weight: bolder;
    font-size: 1.1rem;
}
div.app {
    display: flex;
    flex-direction: column;
    padding: 2rem 5.5rem;
}
.app > .input-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.app > .input-container > p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    padding-right: 1rem;
    width: 13%;
}
.app > .input-container > input {
    font-size: 1.5rem;
    outline: none;
    border: none;
    width: 100%;
}
.app > .input-container:last-child > input {
    border: 1px solid rgba(200, 200, 200, 0.6);
    padding: 1rem;
    border-radius: 7px;
}
.app > .input-container > p {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.app > .input-container:has(input:placeholder-shown) > p {
    color: red;
    opacity: 1;
}
.app > .input-container:has(:focus) > p {
    opacity: 1;
}
.app > .input-container:last-child {
    display: flex;
    flex-direction: column;
}
.app > .input-container:last-child > p {
    border: none;
    text-align: center;
    justify-content: center;
    width: 100%;
}
div.article-preview {
    display: flex;
    flex-grow: 1;
    padding: 2rem 5.5rem;
}
body > .content-tools {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    background-color: #ffc017;
    border-radius: 1rem;
    padding: .5rem 1rem;
    transform: translate(-50%);
}
body > .content-tools > i {
    color: black;
    font-size: 30px;
    cursor: pointer;
    vertical-align: middle;
    padding: .5rem;
    border-radius: 5px;
}
body > .content-tools > i:hover {
    background-color: rgba(200, 200, 200, 0.7);
}
